//LOCATE COMP "clk30_0__io" SITE "B12";
//IOBUF PORT "clk30_0__io" IO_TYPE=LVCMOS18;
LOCATE COMP "rst_0__io" SITE "U16";
IOBUF PORT "rst_0__io" IO_TYPE=LVCMOS15 PULLMODE=NONE;
LOCATE COMP "led_0__io" SITE "C13";
IOBUF PORT "led_0__io" IO_TYPE=LVCMOS25;
//FREQUENCY PORT "clk30_0__io" 30000000.0 HZ;
